/.idea
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/gradle/wrapper/gradle-wrapper.jar
/app/release
/signing_key.jks
/gradle
/gradlew*
/*.apk
/*.idsig
/intercepts.txt
/app/src/web/https*
/app/src/web/web.zip
/result
