name: Release build

on:
  workflow_dispatch:

jobs:
  test:
    name: Build release APK
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-java@v5.2.0
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Configure Gradle wrapper
        run: gradle wrapper --no-daemon
      - name: Run Gradle task :app:assembleRelease
        run: ./gradlew :app:assembleRelease
      - name: Upload APK
        uses: actions/upload-artifact@v6.0.0
        with:
          name: release
          path: |
            app/build/outputs/apk/release/app-release-unsigned.apk
            app/build/outputs/mapping/release/mapping.txt
